*{
    /* padding: 0;
    margin: 0; */
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    
}

.Events {
    width: 100%;
    margin-top: 2%;
}
.Event{
    height: 80vh;
    /* width: 100%;     */
}

.Events .title{
    width: 100%;
    background: #191919;
    color: aliceblue;
    text-align: center;
    font-size: 330%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.box{
    display: flex;
    justify-content: space-around;
    /* padding: 2% 2%; */
    height: 100%;
}
.card-box {
    /* background-color: #191919; */
    margin: 2%;
    width: 20%;
    height: 75%;
    /* border-radius: 10%; */
    text-align: center;
    /* box-shadow: 0 10px 10px #08bd8f; */
    
}

.card{

    width: 100%;
    height: 100%;
    border-radius: 10%;
    background-color: #191919;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    
    
}
.card:hover{
    border: 2px solid #08bd8f;
}
.box .card .front{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    -webkit-backface-visibility: hidden;
   
}
.box .card .back{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    position: absolute;
    top:  5%;
    -webkit-backface-visibility: hidden;
    color: white;


}
.card-box:hover .card{
    transform: rotateY(180deg);
}

.box .card h5{
    
    font-size: 100%;
    color: white ;
    margin-top: 0%;
    
    /* filter: drop-shadow(0px 10px 15px #08bd8f); */
    
}
.box .card h4{
    
    font-size: 240%;

    color: #08bd8f ;
    margin-top: 20%;
    margin-bottom: 10%;
    font-weight: 600;
    
    /* border: 2px solid #08bd8f;
    width: 20%;
    padding: 2%;
    border-radius: 50%;
    margin-left: 40%; */

    /* filter: drop-shadow(0px 10px 15px #08bd8f); */
    
}
.icon{
    margin-top: 20%;
    font-size: 500%;
    color: #08bd8f;

}

.back button{
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 60%;
    border-radius: 10px;
    padding: 2% 0 2% 0;
    color: aliceblue;
    background-color: #08bd8f;
    font-weight: bold;
    
}

.back button:hover{
    filter: drop-shadow(0px 0px 10px #08bd8f);
}

.Event a{
    color: aliceblue;
    text-decoration: none;
}

.Event a:hover{
    text-decoration: underline;
}




@media screen and (max-width: 500px) {
     .card-box .card .front .icon{
        font-size: 200%;
        margin-top: 10%;
    }
    .card-box .card .front h5{
        font-size: 8px;
    }
    
    .card-box .card .back .card-head{
        scale: 0.9;
        margin-top: 0%;
    }
    .card-box .card .back .hide{
        display: none;
    }
    .card-box .card .back button{
        bottom: 5%;
        font-size: 10px;
    }
    .box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        margin-top: 2%;
    }
    .card-box{
        width: 80%;
    }
    .Event{
        height: 90vh;
    }
    .card-box .card .back p{
        margin-top: 0%;
        font-size: 12px;
    }
    .back button{
        margin-bottom: 5%;
    }

}
