

.App4 {
    background-image: url('../Images/bg3.jpg');
    /* background-repeat: repeat-y;
    background-size: 100%;
    background-position: 30% 0px ;  */
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    
}


.App4 .infoblock1{
    background-color: #191919;
    width: 50%;
    border: 2px double whitesmoke;
    border-radius: 20px;
    margin-left: 15%;
    margin-top: 3%;
    padding: 2%;
    color: whitesmoke;
}

.App4 .infoblock2{
    background-color: #191919;
    width: 50%;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    margin-left:45%;
    margin-top: 3%;
    padding: 2%;
    color: whitesmoke;

}

.App4 .contentblock{
    display: flex;
    flex-direction: column;
}

.App4 h2{
    text-align: center;
    font-size: larger;
    color: #08bd8f;
    font-size: 25px;
}

.App4 h3{
    text-decoration: underline;
    font-weight: bold;
    color: #08bd8f;
    font-size: 25px;

}
.App4 .heading{
    color: #08bd8f;
    font-size: 20px;

}

.App4 .register{
    text-align: center;
    margin-top: 10%;
    margin-left: 40%;
    margin-bottom: 5%;
    width: 20%;
    font-size: 40px;
    border: 6px double #08bd8f;
    border-radius: 20px;
    background-color: #191919;

}
.App4 .register:hover{
    scale: 1.1;
}

.App4 .register a{
    color: whitesmoke;

}

.App4 .head{
    text-align: center;
    padding-top: 3%;
    font-size: 40px;
    color: whitesmoke;
}

.App4 nav {

    width: 100%;
    height: 15%;
    padding-top: 13%;
    align-items: center;
    background-color: transparent;
    display: flex;
    position: fixed;


}

.App4 ul {
    border: 2px solid whitesmoke;
    width: 12%;
    margin-left: 1%;
    padding-left: 0px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    background-color: #191919;
    height: 60vh;
    flex-direction: column;
    margin-top: 20%;
    justify-content:space-around;
    z-index: 1
}

.App4 ul li a {
    color: whitesmoke;
    font-size: 18px;
    
}
.App4 ul li {
    color: #191919;
    font-size: 18px;
    list-style-type: none;
    display: flex; 
    padding: 1%;
    
}


@media screen and (max-width: 500px) {
    .App4 .infoblock1  {
        width: 100%;
        margin-left: 0%;
        scale: 0.8;
    
    }
    .App4 .contentblock{
        border: 2px solid #08bd8f;
    }
    .App4 .infoblock2 {
        width: 100%;
        margin-left: 0%;
        scale: 0.8;
        padding-top: 0%;
        padding-bottom: 0% ;
    }
    
    .App4 .head {
        font-size: 20px;
    }
    .App4  ul {
        scale: 0.6;
        width: 100%;
        align-items: center;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        border: 0px ;
    }
    .App4 .register{
        margin-left: 30%;
        border: 2px solid whitesmoke;
        width: 40%;
        font-size: 20px;
        margin-top: 5%;
    }
    .App4 nav{
        position: absolute;
    }
    .App4{
        background-size: 120%;
        background-repeat: no-repeat;
        background-color: #060807;
    }

}