
*{
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

 .overview {
    height: 100vh;
    width: 100%;
    /* margin-top: 2%; */
}

.overview h2{
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin-top: 0%;
    padding-top: 3%;
    color:  white; 
}
.overview-text p{
    width: 75%;
    margin-left: 20%;
    margin-top: 5%;
    color:  #08bd8f;
    font-size: 25px;
    text-align: justify;
  text-justify: inter-word;
    
}


.main {
    display: flex;
    align-items: center;
}

.binoc{
    width: 30%;
    height: 25%;
    margin-left: 9%;
} 




@media screen and (max-width: 480px) {
    .overview{
        scale: 0.8;
        height: auto;
    }

    .overview h2 {
        font-size: 30px;
        padding-top: 5%;
    }

    .overview-text p {
        width: 90%;
        margin: 5% auto;
        font-size: 18px;

    }

    .binoc {
        width: 60%;
        max-width: 200px;
    }
}