
*{
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

 .overview {
    height: 110vh;
    width: 100%;
    /* margin-top: 2%; */
}

.overview h2{
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin-top: 0%;
    padding-top: 3%;
    color:  white; 
}
.overview-text p{
    width: 100%;
    margin-left: 10%;
    margin-top: 5%;
    color:  #08bd8f;
    font-size: 20px;
    line-height: 180%;
    text-align: justify;
    text-justify: inter-word;
    
}
.overview-text{
    display: flex;
    flex-direction: column ;
    align-items: center;
    width: 60%;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;

}
.collab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.collabimg{
    height: 25vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #08bd8f;
    padding: 10px;
} 
.collabimg2{
    height: 25vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #08bd8f;
} 

.collab p{
    font-size: 30px;
    color: white;
}

.cashprize{
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 250px;
    margin-top: 2%;
    align-items: center;
    border: 2px #08bd8f solid;
    padding : 10px;
    border-radius: 25px;
    box-shadow: 0 0 20px 2px  #08bd8f;
}
.cashprize img{
    height: 65%;
}

.cash{
    color: aliceblue;
    font-size: 30px;
}

@media screen and (max-width: 700px) {
    .overview{
        height: auto;
        width: 100%;
    }

    .overview h2 {
        font-size: 30px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .overview-text p{
        width: 100%;
        font-size: 18px;
        margin: 0%;
        margin-top: 8%;

    }
    .overview-text {
        width: 100%;
    }

    .main {
        flex-direction: column;
        scale: 0.8;
        width: 100%;
    }

    .cashprize{
        scale: 0.75;
    }
    .collabimg{
        scale: 0.75;
    } 
    .collab p{
        scale: 0.75;
    }
    
}