
*{
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

 .overview {
    height: 115vh;
    width: 100%;
    /* margin-top: 2%; */
}

.overview h2{
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin-top: 0%;
    padding-top: 3%;
    color:  white; 
}
.overview-text p{
    width: 85%;
    margin-left: 10%;
    margin-top: 5%;
    color:  #08bd8f;
    font-size: 25px;
    text-align: justify;
  text-justify: inter-word;
    
}
.overview-text{
    display: flex;
    flex-direction: column ;
    align-items: center;
}


.main {
    display: flex;
    align-items: center;

}

.binoc{
    width: 30%;
    height: 25%;
    margin-left: 9%;
} 

.cashprize{
    display: flex;
    justify-content: space-around;
    height: 150px;
    width: 300px;
    margin-top: 2%;
    align-items: center;
    border: 2px #08bd8f solid;
    padding : 10px;
    border-radius: 25px;
    box-shadow: 0 0 20px 2px  #08bd8f;
}
.cashprize img{
    height: 65%;
}

.cash{
    color: aliceblue;
    font-size: 35px;
}

@media screen and (max-width: 700px) {
    .overview{
        height: auto;
        width: 100%;
    }

    .overview h2 {
        font-size: 30px;
        padding-top: 5%;
    }

    .overview-text p{
        width: 100%;
        font-size: 18px;
        margin: 0%;
        margin-top: 8%;

    }

    .binoc {
        margin-left: 0%;
        max-width: 150px;
    }

    .main {
        flex-direction: column;
        scale: 0.8;
        width: 100%;
    }
    
}