.Regadas {
    width: 80%;
    margin-left: 10%;
    border: 4px solid #08bd8f ;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 20px;
    background-color: white;
}

.Regadas .autownlogo {
    width: 65%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 25px;
}

.mainbg{
    background-color: black;  
    padding: 1%;
}
.Regadas a{
    width: 20%;
}
.Regadas .head{
    padding-top: 2.5%;
    padding-left: 23%;
}
.Regadas .heading{
    text-align: center;
    font-size: xx-large;
    color: black;
    padding-top: 2%;
}

.Regadas .title {
    background: darkblue;
    color: white;
    font-size: 200%;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 30px;
    display: flex;
    border: 2px solid #08bd8f;
}

.Regadas .regform {
    margin-left: 5%;
}


.Regadas .form {
    display: flex;
    width: 80%;
    /* margin-left: 35%; */
    margin-top: 5%;
}
.Regadas .subform{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.Regadas img{
    width: 80%;
    margin-left: 40%;
}
.Regadas .form .inparea1{
    margin-bottom: 4%;
    border-radius: 10px;
    overflow-wrap: break-word;
    height: 40px;
}

.Regadas label {
    color: black;
}

.Regadas .project {
    width: 100%;
}

.Regadas .project .projheading {
    margin-bottom: 2%;
    /* margin-left: 35%; */
    text-decoration: underline;
    color: black;

}
.Regadas .subarea:hover {
    background-color: cornflowerblue;
    transition: 0.5s;
}
.Regadas .subarea {
    margin-bottom: 3%;
    border-radius: 20px;
    font-size: larger;
}