.speakerheading{
    width: 100%;
    text-align: center;
    color: antiquewhite;
    font-size: 2.5rem;
    margin-top: 5%;
    margin-bottom: 2.5%;
    background-color: #191919;
    padding-top: 1%;
    padding-bottom: 1%;
    
}
.speakers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.speakerbox{
    color: antiquewhite;
    flex-grow: 1;
    text-align: center;
    height: 300px;
    width: 20vw;
    border: 2px solid #191919;
    margin: 1%;


}