.speakerheading{
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 2.5rem;
    margin-top: 5%;
    margin-bottom: 2.5%;
    background-color: #191919;
    padding-top: 1%;
    padding-bottom: 1%;
    
}
.speakers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.speakerbox{
    color: whitesmoke;
    flex-grow: 1;
    text-align: center;
    height: 450px;
    width: 20%;
    border: 5px solid #191919;
    margin: 1%;
    border-radius: 15px;


}
.speaker-image img{
    width: 250px;
    margin-top: 20px;
    border-radius: 50%;
}
.speaker-name{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 700;
    color: #08bd8f;
}
.speaker-designation{
    padding-top: 20px;
    font-size: 16px;
    
}
.collaborator{
    display: flex;
    align-items: center;
}
.colabhead{
    margin-top: 20px;
    font-size: 30px;
}

@media screen and (max-width: 700px){
    .speakers{
        flex-direction: column;
        scale: 0.9;
        display: flex;
        align-content: center;
    }
    .speakerbox{
        width: 100%;
    
        height: auto;

    }
    .speakerheading{
        margin-top: 18%;
        font-size: 25px;
    }
    .speaker-image{
        scale: 0.75;
    }
    .speaker-designation{
        padding-bottom: 10px;
    }
    .colabhead{
        margin-top: 20px;
        font-size: 20px;
    }
}